.accordion-card-header-link {
    color: aqua;
    &:hover {
        text-decoration: none;
        color: antiquewhite;
    }
}

.accordion-card-in-put-header {
    background-color: #3f464e;
}

.accordion-card-in-put-header-link {
    color: aqua;
    font-weight: 300;
    &:hover {
        text-decoration: none;
        color: antiquewhite;
    }
}

.accordion-card-body {
    background-color: silver;
    padding: 0;
    margin: 0;
}

.accordion-card-body-link {
    color: black;
    &:hover {
        text-decoration: none;
        color: white;
    }
    div {
        padding: 10px;
        padding-left: 25px;
        margin: 0;
    }
    div:hover {
        background-color: #353a40;
    }
}

.accordion-card-in-put-body-link {

    &:hover {
        text-decoration: none;
    }
    div {
        padding: 10px;
        padding-left: 35px;
        margin: 0;
        color: black;
        
        &:hover {
            color: white;
            background-color: #353a40;
        }
    }
}

.product-image {
    width: 100px;
    height: 100px;
}

.my-table {
    padding: 0;
    margin: 0;

    tr > * {
        vertical-align: middle !important;
        text-align: center;
    }

    tr > td > img {
        width: 100px;
        height: 100px;
    }

    tr > td > a {
        color: black;

        &:hover {
            text-decoration: none;
            color: #505050;
        }
    }
}

.article {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

.my-block {

    border-top-right-radius: .25rem !important;
    border-top-left-radius: .25rem !important;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    
    .my-block-header {
        border-top-right-radius: .25rem !important;
        border-top-left-radius: .25rem !important;
        background-color: #343A40;
        padding: .3rem;
        color: white;
        text-align: center;
    }

    .my-block-body {
        padding: 10px;
        background-color: #f2f2f2;
    }
}

.small-text {
    font-size: small;
}

.image100 {
    width: 100px;
    height: 100px;
}

.wh-100 {
    width: 100px;
    height: 100px;
}

.wh-150 {
    width: 150px;
    height: 150px;
}

.wh-200 {
    width: 200;
    height: 200px;
}

.wh-300 {
    width: 300px;
    height: 300px;
}

.menu {
    padding-left: 0;
    margin-top: 0;
}