.accordion-card-header-link {
    color: aqua;
    &:hover {
        text-decoration: none;
        color: antiquewhite;
    }
}

.accordion-card-in-put-header {
    background-color: #3f464e;
}

.accordion-card-in-put-header-link {
    color: aqua;
    font-weight: 300;
    &:hover {
        text-decoration: none;
        color: antiquewhite;
    }
}

.accordion-card-body {
    background-color: silver;
    padding: 0;
    margin: 0;
}

.accordion-card-body-link {
    color: black;
    &:hover {
        text-decoration: none;
        color: white;
    }
    div {
        padding: 10px;
        padding-left: 25px;
        margin: 0;
    }
    div:hover {
        background-color: #353a40;
    }
}

.accordion-card-in-put-body-link {

    &:hover {
        text-decoration: none;
    }
    div {
        padding: 10px;
        padding-left: 35px;
        margin: 0;
        color: black;
        
        &:hover {
            color: white;
            background-color: #353a40;
        }
    }
}

.product-image {
    width: 100px;
    height: 100px;
}

.my-table {
    padding: 0;
    margin: 0;
}

.table-product-link {
    color: black !important;

    &:hover {
        text-decoration: none;
        color: antiquewhite;
    }
}

.table-product-row {
    * {
        vertical-align: middle !important;
        text-align: center;
    }
}