{% extends 'base.html' %}


{% block title %}
	Catalog
{% endblock %}

{% block catalog %}
	active
{% endblock %}


{% block content %}

	<div class="col menu">
		{% include 'accordion.html' %}
	</div>

	<div class="col-9 my-block">
		<div class="my-block-header">
			<h4>Информация для оформления заказа</h4>
		</div>
		<div class="my-block-body">
			<p> Вы можете оформить заказ на представленную в каталоге продукцию. Для этого нажмите кнопку «Заказ» рядом с выбранным наименованием. При этом появится форма «Добавления в заказ», в которой необходимо указать количество заказываемого товара и нажать кнопку «Добавить», после чего заказанный товар попадает в корзину.</p>
			<p>При редактировании заказа имеется возможность удалить ненужные позиции и откорректировать количество товара. После корректировки заказа, для расчёта фактической суммы оплаты необходимо нажать на кнопку «Пересчитать».</p>
			<p>Оформление заказа производится нажатием кнопки «Отправить заказ/выписать счет», при условии заполнения контактной информации заказчика.</p>
			<p>Отправка заказов в другие города осуществляется на сумму не менее 1000 рублей наложенным платежом. После оформления заказа с вами свяжется наш менеджер для согласования доставки и оплаты товара.</p>
		</div>
		<br>
		<div class="my-block-header">
			<h4>Условия сотрудничества</h4>
		</div>
		<div class="my-block-body">
			<p> Мы заинтересованы и надеемся на взаимовыгодное сотрудничество с нашими клиентами. Постараемся кратко изложить основные принципы и возможные условия работы.</p>
			<p>При покупке 1 наименования товар отгружается по розничной цене. Мелкооптовые цены формируются от количества, которое определено для каждого наименования номенклатуры.</p>
			<p>При заполнении клиентом «карточки покупателя» отслеживается сумма покупок в квартал. При покупке в квартал более чем на 20 тысяч рублей контрагент получает на следующие 3 месяца мелкооптовые цены на весь товар независимо от приобретаемого количества.</p>
			<p>Приобретя товаров в квартал на сумму свыше 60 тысяч рублей, покупатель получает оптовые цены так же независимо от количества.</p>
			<p>Не выполнив условие по набору суммы по истечении квартала, покупатель переходит на ступень ниже, т.е. покупает по розничным ценам или от мелкооптового количества и по мелкооптовым ценам.</p>
			<br>
			<p>У лиц, которых мы считаем дилерами, существует иная схема работы.</p>
			<p>При заключении дилерского договора сразу предоставляются на квартал оптовые цены.</p>
			<p>Соблюдение договорных условий дает возможность товарных кредитов, отсрочек по оплате и т.д.</p>
			<p>По истечении квартала так же подводятся итоги, если сумма превышает отметку 60 тысяч рублей, скидка сохраняется на следующий период, если нет, то цены будут рассчитываться по мелкому опту.</p>
			<p>Если по истечении квартала сумма превышает 300 тысяч рублей, то к оптовым ценам предоставляется дополнительная скидка 2%.</p>
			<br>
			<p>В любом случае всегда возможен диалог. Надеемся на взаимовыгодное сотрудничество.</p>
		</div>
	</div>

{% endblock %}
