{% extends 'base.html' %}


{% block title %}
	Catalog
{% endblock %}

{% block catalog %}
	active
{% endblock %}


{% block content %}
<article class="row catalog-base">

	<menu class="col-3 mt-3">
		{% include 'accordion.html' %}
	</menu>

	<div class="col-9 mt-3">
		<h3>Информация для оформления заказа</h3>

		<p> Вы можете оформить заказ на представленную в каталоге продукцию. Для этого нажмите кнопку «Заказ» рядом с выбранным наименованием. При этом появится форма «Добавления в заказ», в которой необходимо указать количество заказываемого товара и нажать кнопку «Добавить», после чего заказанный товар попадает в корзину.</p>
		<p>При редактировании заказа имеется возможность удалить ненужные позиции и откорректировать количество товара. После корректировки заказа, для расчёта фактической суммы оплаты необходимо нажать на кнопку «Пересчитать».</p>
		<p>Оформление заказа производится нажатием кнопки «Отправить заказ/выписать счет», при условии заполнения контактной информации заказчика.</p>
		<p>Отправка заказов в другие города осуществляется на сумму не менее 1000 рублей наложенным платежом. После оформления заказа с вами свяжется наш менеджер для согласования доставки и оплаты товара.</p>
	</div>

</article>
{% endblock %}